:root {
  --white: #f4eded;
  --black: #050609;

  --primary: #00b9ae;
  --secondary: #161a27;
  --tertiary: #ef6f6c;

  --background-color: var(--black);
  --text-color: var(--white);

  --primary-radial-glow: radial-gradient(#00b9ae90, rgba(1, 65, 255, 0));
  --primary-linear-glow: linear-gradient(
    to bottom right,
    rgba(1, 65, 255, 0),
    rgba(1, 65, 255, 0),
    #54868770
  );
}
